<div class="bg"></div>

<div class="auth-card">
  <h4 class="auth-title">Connexion</h4>

  <!-- Formulaire -->
  <form #f="ngForm" (ngSubmit)="login(f.value)">

    <div class="form-row">
      <label class="label">Nom d'utilisateur</label>
      <!-- ICI → username devient matricule MAIS on garde ton style -->
      <input class="input" name="matricule" ngModel required placeholder="ex: EMP1A49B" />
    </div>

    <div class="form-row">
      <label class="label">Mot de passe</label>
      <input class="input" type="password" name="password" ngModel required placeholder="••••••••" />
    </div>

    <button class="btn" type="submit">Se connecter</button>
  </form>

  <!-- Message d’erreur -->
  <div class="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>

<footer class="footer">© 2025 - Application Gestion RH</footer>
