<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Status</th>
      <th>Chef de projet</th>
      <th>Nb Utilisateurs</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.id }}</td>
      <td>{{ project.name }}</td>
      <td>{{ project.description }}</td>
      <td>{{ project.status }}</td>
      <td>{{ project.projectManagerName }}</td>
      <td>{{ project.usersCount }}</td>
      <td>
        <button (click)="editProject(project)">Modifier</button>
        <button (click)="deleteProject(project.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
